<section class="py-3 py-md-5 py-xl-2 height-auto" *ngIf="loadDataIsReady()">
  <div class="container">

    <div class="row gy-5 gy-lg-0">
      <div class="col-12">
        <h1>Minhas consultas</h1>
        <p class="lead">Histórico de agendamentos</p>
      </div>
      <div class="col-12 mt-4" *ngFor="let agendamento of agendamentos; let i = index;">

        <div class="agendamento-box">
          <div class="agendamento-box-items-container">
            <div class="agendamento-box-item-1">
              <div class="relative">
                <img class="img-fluid rounded rounded-circle m-0 border border-5" loading="lazy" src="{{agendamento.profissional.foto}}" alt="{{agendamento.profissional.nome}}" width="90" height="90" >
              </div>
              <div class="agendamento-box-item-especialista">
                <span class="badge bg-primary mb-2 badge-tipoConsulta">{{agendamento.tipoConsulta}}</span>
                <h6 class="mb-1">{{agendamento.profissional.nome}}</h6>
                <small class="text-muted mb-2">{{agendamento.especialidade.nome}}</small>
              </div>
            </div>

            <div class="agendamento-box-item-2">
              <div class="fs-10">
                <p><span class="bold">Status:</span> {{ agendamento.statusConsulta }}</p>
                <p><span class="bold">Data do agendamento:</span> {{ agendamento.dataConsulta | dateExtensoFormatted:true:false:agendamento.horarioConsulta  }}</p>
                <p><span class="bold">Endereço:</span> {{ agendamento.localAtendimento | addressFormatted }}</p>
              </div>
            </div>

            <div class="agendamento-box-item-3">
              <div class="d-grid gap-2 w-full">
                <button class="btn btn-primary" type="button" (click)="onclick_DetalhesAgendamento(agendamento.id)">Detalhes da consulta</button>
                <button class="btn btn-danger" type="button" *ngIf="agendamento.statusConsulta == 'SOLICITADO' || agendamento.statusConsulta == 'CONFIRMADO'">Cancelar consulta</button>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
