<section class="py-3 py-md-5 py-xl-2 height-auto">
  <div class="container">
    <div class="row gy-5 gy-lg-0" *ngIf="!isNullOrUndefined(convenioMedico)">
      <div class="col-12">
        <h1>{{convenioMedico.nome}}</h1>
        <p class="mb-2"><small class="text-muted">Em qual cidade deseja marcar a consulta, procedimento ou exame pelo convênio {{convenioMedico.nome}}</small></p>
      </div>

      <!-- campo de busca -->
      <div class="col-12 mt-3">
        <div class="form-floating mb-3 position-relative">
          <input type="text" class="form-control" id="buscaCidadesAtendidas" placeholder="Digite a cidade em que você procura atendimento"
            [(ngModel)]="termoBusca"
            (keyup.enter)="buscarCidadesAtendidas()"
            (keyup)="onSearchIsBecomedEmpty()">
          <label for="buscaCidadesAtendidas">Procure pela cidade que deseja atendimento</label>
          <button class="cta-btn-primary btn-sm position-absolute end-0 top-50 translate-middle-y me-2" (click)="buscarCidadesAtendidas()">
            Buscar
          </button>
        </div>
      </div>

      <!-- lista de resultados -->
      <div class="col-12 mt-4" *ngIf="!isArrayNullOrEmpty(cidadesAtendidasPaginadas)">
        <div class="row">
          <div class="col-4 mb-3" *ngFor="let cidade of cidadesAtendidasPaginadas; let i = index;">
            <div class="card px-2 py-2">
              <div class="card-body">
                <div class="text-center cursor-pointer" (click)="onclick_redirect_cidadesAtendidas_detalhes(cidade.code)">
                  <p class="mb-0 text-xs text-gray-500">{{cidade.siglaEstado}}</p>
                  <p class="mb-0 is-link bold fs-10">{{cidade.descricao}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- paginacao -->
        <div class="row">
          <div class="col-12">
            <div class="text-end">
              <app-pagination
                [totalItems]="totalItems"
                [itemsPerPage]="itemsPerPage"
                [currentPage]="currentPage"
                (pageChanged)="atualizarPagina($event.page, $event.pageSize)">
              </app-pagination>
            </div>
          </div>
        </div>
      </div>

      <!-- Se não encontrou nada -->
      <div class="col-12" *ngIf="cidadesAtendidasFiltradas.length === 0">
        <app-result-response-empty></app-result-response-empty>
      </div>

    </div>
  </div>
</section>


