<section class="py-3 py-md-5 py-xl-2 height-auto" *ngIf="loadDataIsReady()">
  <div class="container">

    <div class="row gy-5 gy-lg-0">
      <div class="col-12">
        <h1>Dados da conta</h1>
      </div>
    </div>

    <!-- Dados pessoais -->
    <div class="row">
      <div class="col-12">
        <section class="py-3 py-md-5">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-sm-10 col-md-7 col-lg-6 col-xl-5 col-xxl-4">
                <div class="card widget-card border-light shadow-sm">
                  <div class="card-body p-4">
                    <h5 class="card-title widget-card-title mb-4">Dados Pessoais</h5>
                    <div class="row gy-4">
                      <div class="col-12">
                        <div class="row align-items-center">
                          <div class="col-8">
                            <div class="d-flex align-items-center">
                              <div>
                                <h6 class="m-0">E-mail</h6>
                                <p class="text-secondary m-0 fs-7">{{paciente.email}}</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-4">
                            <h6 class="text-end is-link"><i class="bi bi-arrow-right-circle"></i></h6>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="row align-items-center">
                          <div class="col-8">
                            <div class="d-flex align-items-center">
                              <div>
                                <h6 class="m-0">Senha</h6>
                                <p class="text-secondary m-0 fs-7">**************</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-4">
                            <h6 class="text-end is-link"><i class="bi bi-arrow-right-circle"></i></h6>
                          </div>
                        </div>
                      </div>
                      <hr />
                      <div class="col-12">
                        <div class="row align-items-center">
                          <div class="col-8">
                            <div class="d-flex align-items-center">
                              <div>
                                <h6 class="m-0">Nome completo</h6>
                                <p class="text-secondary m-0 fs-7">{{paciente.nome}}</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-4">
                            <h6 class="text-end"></h6>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="row align-items-center">
                          <div class="col-8">
                            <div class="d-flex align-items-center">
                              <div>
                                <h6 class="m-0">Telefone</h6>
                                <p class="text-secondary m-0 fs-7">{{paciente.telefone | telefoneFormatted}}</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-4">
                            <h6 class="text-end"></h6>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="row align-items-center">
                          <div class="col-8">
                            <div class="d-flex align-items-center">
                              <div>
                                <h6 class="m-0">Gênero</h6>
                                <p class="text-secondary m-0 fs-7">{{paciente.genero}}</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-4">
                            <h6 class="text-end"></h6>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="row align-items-center">
                          <div class="col-8">
                            <div class="d-flex align-items-center">
                              <div>
                                <h6 class="m-0">CPF</h6>
                                <p class="text-secondary m-0 fs-7">{{paciente.cpf | cpfFormatted}}</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-4">
                            <h6 class="text-end"></h6>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="row align-items-center">
                          <div class="col-8">
                            <div class="d-flex align-items-center">
                              <div>
                                <h6 class="m-0">Nascimento</h6>
                                <p class="text-secondary m-0 fs-7">{{paciente.dataNascimento | dateFormatted}}</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-4">
                            <h6 class="text-end"></h6>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="row align-items-center is-link">
                          <div class="col-8">
                            <div class="d-flex align-items-center">
                              <div>
                                <h6 class="m-0 is-link">Alterar</h6>
                                <p class="text-secondary m-0 fs-7"></p>
                              </div>
                            </div>
                          </div>
                          <div class="col-4">
                            <h6 class="text-end is-link"><i class="bi bi-arrow-right-circle"></i></h6>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <!-- Meus convênios -->
    <div class="row">
      <div class="col-12">
        <section class="py-3">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-sm-10 col-md-7 col-lg-6 col-xl-5 col-xxl-4">
                <div class="card widget-card border-light shadow-sm">
                  <div class="card-body p-4">
                    <h5 class="card-title widget-card-title mb-4">Meus convênios</h5>
                    <div class="row gy-4 mb-5">
                      <div class="col-12">
                        <div class="row align-items-center">
                          <div class="col-6">
                            <div class="d-flex align-items-center">
                              <div>
                                <h6 class="m-0"></h6>
                                <p class="text-secondary m-0 fs-7"></p>
                              </div>
                            </div>
                          </div>
                          <div class="col-6">
                            <h6 class="text-end is-link" (click)="onclick_ShowModalAdicionarConvenioMedico()"><i class="bi bi-plus-circle"></i>Adicionar convênio</h6>
                          </div>
                        </div>
                      </div>

                      <div class="col-12" *ngFor="let plano of paciente.planosMedicos; let i = index;">
                        <div class="row align-items-center">
                          <div class="col-8">
                            <div class="d-flex align-items-center">
                              <div>
                                <h6 class="m-0">{{plano.convenioMedico}}</h6>
                                <p class="text-secondary m-0 fs-7">
                                  {{plano.nomePlano}}
                                  <br />
                                  {{plano.numCartao}}
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="col-4">
                            <h6 class="text-end">
                              <i class="bi bi-pencil mx-2 px-1 cursor-pointer" (click)="onclick_ShowModalAlterarConvenioMedico(plano.id)"></i>
                              <i class="bi bi-trash mx-2 cursor-pointer"></i>
                            </h6>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>


    <!-- modal adicionar convenio medico -->
    <div class="modal fade" id="modalAddConvenios" tabindex="-1" aria-labelledby="modalAddConveniosLabel" data-bs-backdrop="static" aria-modal="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalAddConveniosLabel">Novo convênio</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="formAddConvenioMedico" #formDirective="ngForm" (ngSubmit)="onclick_AdicionarConvenioMedico(formDirective)">
              <div class="row">
                <div class="col-12">
                  <div class="form-floating mb-3">
                    <select class="form-select" id="convenioMedicoId" aria-label="convenioMedicoId" formControlName="convenioMedicoId">
                      <option value="" selected>Selecione...</option>
                      <option value="{{item.id}}" *ngFor="let item of conveniosMedicos; let i = index;">{{item.nome}}</option>
                    </select>
                    <label for="convenioMedicoId">Convênio médico *</label>
                    <app-display-validation-errors [control]="formAddConvenioMedico.controls.convenioMedicoId" [formGroupDirective]="formDirective"></app-display-validation-errors>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="nomePlano" placeholder="Digite o nome do plano *" formControlName="nomePlano">
                    <label for="nomePlano">Plano *</label>
                    <app-display-validation-errors [control]="formAddConvenioMedico.controls.nomePlano" [formGroupDirective]="formDirective"></app-display-validation-errors>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="numCartao" placeholder="Digite o nº da carteirinha *" formControlName="numCartao">
                    <label for="numCartao">Número da carteirinha *</label>
                    <app-display-validation-errors [control]="formAddConvenioMedico.controls.numCartao" [formGroupDirective]="formDirective"></app-display-validation-errors>
                  </div>
                </div>
                <div class="col-12">
                  <div class="text-center mt-2 d-grid w-full">
                    <button type="submit" class="cta-btn-primary mb-3 me-2" [disabled]="!formAddConvenioMedico.valid">Cadastrar novo convênio</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- modal alterar plano medico -->
    <div class="modal fade" id="modalUpdateConvenios" tabindex="-1" aria-labelledby="modalUpdateConveniosLabel" data-bs-backdrop="static" aria-modal="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalUpdateConveniosLabel">Editar convênio</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="formUpdateConvenioMedico" #formDirective="ngForm" (ngSubmit)="onclick_AlterarConvenioMedico(formDirective)">
              <div class="row">
                <div class="col-12">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="nomePlano" placeholder="Digite o nome do plano *" formControlName="nomePlano">
                    <label for="nomePlano">Plano *</label>
                    <app-display-validation-errors [control]="formUpdateConvenioMedico.controls.nomePlano" [formGroupDirective]="formDirective"></app-display-validation-errors>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="numeroCarteirinha" placeholder="Digite o nº da carteirinha *" formControlName="numeroCarteirinha">
                    <label for="numeroCarteirinha">Número da carteirinha *</label>
                    <app-display-validation-errors [control]="formUpdateConvenioMedico.controls.numeroCarteirinha" [formGroupDirective]="formDirective"></app-display-validation-errors>
                  </div>
                </div>
                <div class="col-12">
                  <div class="text-center mt-2 d-grid w-full">
                    <button type="submit" class="cta-btn-primary mb-3 me-2" [disabled]="!formUpdateConvenioMedico.valid">Salvar alterações</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>






  </div>
</section>
