.jumbotron {
  background: url('/assets/img/precificacao-medicos.jpg') no-repeat center center;
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
}
.jumbotron .form-inline {
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 8px;
}
