
<div class="jumbotron text-center">
  <div class="container">
      <h1 class="display-3 fw-bold mb-3 tc-white">
        O que você está buscando?
      </h1>
      <p class="lead mb-5">
        Agende consultas e teleconsultas sem sair de casa. Fácil, rápido e seguro.
      </p>
      <form class="row g-2 justify-content-center">
          <div class="col-md-4">
            <app-dropdown-pesquisar-especialidades
                [items]="especialidades"
                [displayFn]="formatEspecialidade"
                [placeholder]="placeholderEspecialidadeText"
                (selected)="onEspecialidadeSelecionada($event)"
                (input)="onEspecialidadeInput($event)">
            </app-dropdown-pesquisar-especialidades>
          </div>
          <div class="col-md-4">
            <app-autocomplete-search
              [items]="cidades"
              [displayFn]="formatCidade"
              [placeholder]="placeholderCidadeText"
              (selected)="onCidadeSelecionada($event)"
              (input)="onCidadeInput($event)">
            </app-autocomplete-search>
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-primary" (click)="onPesquisar()" [disabled]="!habilitarBotaoPesquisar()">Pesquisar</button>
          </div>
      </form>
  </div>

</div>
