<section class="py-3 py-md-5 py-xl-2 height-auto">
  <div class="container">
    <div class="row gy-5 gy-lg-0">
      <div class="col-12 col-lg-8">
        <div class="row">
          <div class="col-12 col-xl-11">
            <p class="lead bold fs-4 text-secondary" *ngIf="!isNullOrEmpty(especialidade)">Médicos {{especialidade}}</p>
            <p class="mb-2" *ngIf="totalItems > 0"><small class="text-muted">{{this.totalItems | numberThousandsFormatted}} resultados encontrados</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

@if (especialistasList !== undefined && especialistasList !== null && especialistasList.length > 0) {
  <app-dados-especialista-lista
      [especialistasList]="especialistasList"
      [totalItems]="totalItems"
      (itemsPerPageUpdated)="atualizarPagina($event)">
  </app-dados-especialista-lista>
}
@else {
  <app-result-response-empty></app-result-response-empty>
}
