.favorite-card {
  border-radius: 12px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.prof-photo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.heart-icon {
  color: red;
}

.info-text {
  flex: 1;
}

.lb-nome {
  cursor: pointer;
  color: #039be5;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}
.lb-nome:hover {
  text-decoration: underline;
}
