.show-more {
  margin-top: 14rem;;
}
.show-less {
  margin-top: 17rem;;
}
.carousel-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.btn-horario {
  background-color: #eef4fd;
  border-color: transparent;
  color: #1662c6;
}
.btn-horario {
  background-color: #eef4fd;
  border-color: transparent;
  color: #1662c6;
}

.btn-horario:hover {
  background-color: #dfeafb;
  border-color: #1662c6;
  color: #1662c6;
  text-decoration: none
}

.btn-horario.active {
  background-color: #1662c6;
  color: white;
  border-color: #0f4c9b;
}

.btn-horario:focus:not(:focus-visible) {
  outline: 0
}

.btn-horario:focus {
  box-shadow: none
}

.btn-horario.focus,.btn-horario:focus-visible {
  border-color: #1662c6;
  box-shadow: none;
  color: #1662c6;
  outline: 2px solid #1759b0;
  outline-offset: 2px;
  text-decoration: none
}

.btn-horario:not(:disabled):not(.disabled).active,
.btn-horario:not(:disabled):not(.disabled):active,.show>.btn-horario.dropdown-toggle {
  border-color: #3d83df
}

.btn-horario:not(:disabled):not(.disabled).active:focus-visible,
.btn-horario:not(:disabled):not(.disabled):active:focus-visible,.show>.btn-horario.dropdown-toggle:focus-visible {
  box-shadow: 0 0 0 .2rem rgba(23,89,176,.3)
}

.btn-horario .badge {
  background-color: #1662c6;
  color: transparent
}

.btn-horario .svg-icon:not([class*=svg-icon-color]) {
  fill: #1662c6
}
.btn-horario-booked {
  color: #627282;
  cursor: default;
  pointer-events: none;
  text-decoration:line-through;
}
.btn-horario-unavailable {
  width: 53px !important;
  cursor: default;
  pointer-events: none;
}


.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-inner {
  padding: 10px;
}
.custom-caret {
  filter: invert(28%) sepia(78%) saturate(1763%) hue-rotate(198deg) brightness(93%) contrast(90%);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.horarios-container {
  max-height: 220px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2.3rem;
}
.horarios-container.expandido {
  max-height: none;
}
.btn-sm {
  font-size: 11px;
  padding: 4px 8px;
  width: 60px !important;
}
.btn-outline-danger {
  text-decoration: line-through;
}
.text-risk {
  text-decoration: line-through;
}
.btn-link {
  text-decoration: none;
  font-weight: bold;
}
