<section id="hero" class="perguntas-respostas section light-background">

  <img src="../../../assets/img/doctors-9.png" alt="" data-aos="fade-in">

  <div class="container position-relative">

    <div class="welcome position-relative" data-aos="fade-down" data-aos-delay="100">
      <h2>Pergunte ao profissional de saúde</h2>
      <p>
        Tire dúvidas com nossos médicos e demais profissionais de saúde.
      </p>
      <br /><br />
      <p>
        <button class="cta-btn-primary">Quero fazer uma pergunta</button>
      </p>
    </div>
  </div>
</section>

<section id="services" class="services section">
  <div class="container section-title" data-aos="fade-up">
    <h2>Como que funciona?</h2>
  </div>

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item  position-relative">
          <div class="icon">
            <i class="fas fa-solid fa-1"></i>
          </div>
          <a href="#" class="stretched-link">
            <h3>Pergunte</h3>
          </a>
          <p>
            Escreva sua pergunta sobre saúde de forma breve e direta. Lembre-se de ser claro e objetivo!
          </p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fas  fa-solid fa-2"></i>
          </div>
          <a href="#" class="stretched-link">
            <h3>Envie e aguarde</h3>
          </a>
          <p>
            Sua pergunta será redirecionada e distribuem entre os especialistas disponíveis.
          </p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fas  fa-solid fa-3"></i>
          </div>
          <a href="#" class="stretched-link">
            <h3>Leia</h3>
          </a>
          <p>
            Quando sua resposta for postada, você será notificado por e-mail. Você pode ser respondido por mais
            de um especialista.
          </p>
        </div>
      </div><!-- End Service Item -->
    </div>
  </div>

</section>


<section id="doctors" class="doctors section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Principais perguntas sobre saúde (7.979)</h2>
  </div>

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <div class="team-member d-flex align-items-start">
          <div class="pic"><img src="assets/img/doctors/doctors-2.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Sarah Jhonson</h4>
            <span>Anesthesiologist</span>
            <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
            <div class="social">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""> <i class="bi bi-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
        <div class="team-member d-flex align-items-start">
          <div class="pic"><img src="assets/img/doctors/doctors-4.jpg" class="img-fluid" alt=""></div>
          <div class="member-info">
            <h4>Amanda Jepson</h4>
            <span>Neurosurgeon</span>
            <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
            <div class="social">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""> <i class="bi bi-linkedin"></i> </a>
            </div>
          </div>
        </div>
      </div><!-- End Team Member -->

    </div>

  </div>

</section>
