<!-- Quero fazer uma pergunta -->
<section class="bsb-hero-2-pro px-3" style="height: auto !important;">
  <div class="container overflow-hidden">
    <div class="row gy-3 gy-lg-0 align-items-lg-center justify-content-lg-between">
      <div class="col-12 col-lg-6 order-1 order-lg-0">
        <h1 class="display-3 fw-bold mb-1">Pergunte ao profissional de saúde</h1>
        <p class="fs-4 mb-5">Tire dúvidas com nossos médicos e demais profissionais de saúde.</p>
        <div class="d-grid gap-2 d-sm-flex">
          <button type="button" class="btn btn-primary bsb-btn-2xl rounded-pill" *ngIf="!showFormSection" (click)="onShowForm()">Quero fazer uma pergunta</button>
        </div>
      </div>
      <div class="col-12 col-lg-5 text-center">
        <img class="img-fluid " loading="lazy" src="../../../assets/img/faq-img-1.png" alt="" data-aos="fade-in" alt="Perguntas e Respostas" >
      </div>
    </div>
  </div>
</section>

<!-- Perguntas e respostas -->
 @if (showFormSection) {
 <section class="section">
  <div class="container">
    <form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="onEnviarPergunta(formDirective)">
      <div class="row">
        <div class="col-12">
          <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="Faça sua pergunta aqui, mínimo de 50 caracteres e máximo de 300 caracteres" formControlName="pergunta" id="pergunta" style="height: 100px"
                    appInputCharacterCount [maxLength]="300"></textarea>
            <label for="pergunta">Faça sua pergunta aqui</label>
            <app-display-validation-errors [control]="form.controls.pergunta" [formGroupDirective]="formDirective"></app-display-validation-errors>
          </div>
        </div>
        <div class="col-12">
          <div class="form-floating mb-3">
            <select class="form-select" id="especialidadeId" aria-label="especialidadeId" formControlName="especialidadeId">
              <option value="" selected>Selecione...</option>
              <option *ngFor="let item of especialidades; let i = index;" [value]="item.id">{{item.nome}}</option>
            </select>
            <label for="especialidadeId" class="form-label">Escolha a especialidade</label>
            <app-display-validation-errors [control]="form.controls.especialidadeId" [formGroupDirective]="formDirective"></app-display-validation-errors>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="box-consentimentos">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" formControlName="termosUsoPolitica" id="termosUsoPolitica" required>
              <label class="form-check-label text-secondary" for="termosUsoPolitica">
                Li e concordo com os <a href="javascript:void(0);" class="link-primary text-decoration-none">Termos de Uso e Política de Privacidade</a>
              </label>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="d-grid my-3">
            <button class="btn btn-primary btn-lg" type="submit" [disabled]="!form.valid || !form.controls.termosUsoPolitica">Enviar pergunta</button>
          </div>
        </div>
      </div>
    </form>
  </div>
 </section>
}

<!-- Como que funciona? -->
<section id="services" class="services section">
  <div class="container section-title" data-aos="fade-up">
    <h2>Como que funciona?</h2>
  </div>

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item  position-relative">
          <div class="icon">
            <i class="fas fa-solid fa-1"></i>
          </div>
          <a href="#" class="stretched-link">
            <h3>Pergunte</h3>
          </a>
          <p>
            Escreva sua pergunta sobre saúde de forma breve e direta. Lembre-se de ser claro e objetivo!
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fas  fa-solid fa-2"></i>
          </div>
          <a href="#" class="stretched-link">
            <h3>Envie e aguarde</h3>
          </a>
          <p>
            Sua pergunta será redirecionada e distribuem entre os especialistas disponíveis.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fas  fa-solid fa-3"></i>
          </div>
          <a href="#" class="stretched-link">
            <h3>Leia</h3>
          </a>
          <p>
            Quando sua resposta for postada, você será notificado por e-mail. Você pode ser respondido por mais
            de um especialista.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Principais perguntas sobre saúde -->
<section id="doctors" class="doctors section">
  <div class="container section-title" data-aos="fade-up">
    <h2>Principais perguntas sobre saúde</h2>
  </div>

@if (perguntasList !== undefined && perguntasList !== null && perguntasList.length > 0) {
  @for (pergunta of perguntasList; track pergunta.id; let idx = $index) {

    <section style="margin-bottom: -6rem; margin-top: -6rem;">
      <div class="container overflow-hidden">
        <div class="row gy-3 gy-lg-4">
          <div class="col-12 col-lg-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-12 col-md-10 col-lg-12">
                    <h5 class="mb-4 pergunta-text" (click)="onRedirectPergunta(pergunta.id)">{{pergunta.pergunta }}</h5>
                    <p class="card-text mb-2"><small class="text-muted">{{pergunta.createdAtFormatted}}</small></p>
                  </div>
                </div>
              </div>

              @if (pergunta.respostas !== undefined && pergunta.respostas !== null && pergunta.respostas.length > 0) {
                <div class="card-body p-4">
                  <blockquote class="bsb-blockquote-icon mb-3">{{pergunta.respostas[0].resposta}}</blockquote>
                  <p class="card-text"><small class="text-muted">{{pergunta.respostas[0].createdAtFormatted}}</small></p>
                  <figure class="d-flex align-items-center m-0 p-0">
                    <img class="img-fluid rounded rounded-circle m-0 border border-5" loading="lazy" src="assets/img/doctors/doctors-2.jpg" alt="{{pergunta.respostas[0].especialista.nome}}" width="80" height="80" >
                    <figcaption class="ms-3">
                      <h4 class="mb-1 h5">{{pergunta.respostas[0].especialista.nome}}</h4>
                      <h5 class="fs-6 text-secondary mb-0">{{pergunta.respostas[0].especialista.especialidades[0].nome}}</h5>
                      @if (pergunta.respostas[0].especialista.avaliacao !== undefined && pergunta.respostas[0].especialista.avaliacao !== null) {
                        <div class="bsb-ratings text-warning mb-3" data-bsb-star="pergunta.respostas[0].especialista.avaliacao" data-bsb-star-off="0"></div>
                      }
                      <p class="mt-4">
                        <button class="cta-btn-primary">Marcar consulta agora</button>
                      </p>
                    </figcaption>
                  </figure>
                </div>
                <div class="card-body">
                  <p><a href="#" class="card-link link-primary text-decoration-none">Ver todas as respostas</a></p>
                </div>
              } @else {
                <div class="card-body">
                  <p>
                    Sem respostas até o momento
                  </p>
                </div>
              }
            </div>
          </div>
        </div>
      </div>
    </section>


  } @empty {
    <div class="card-body">
      <p>
        Sem perguntas até o momento
      </p>
    </div>
  }
} @else {
  <div class="card-body">
    <p>
      Sem perguntas até o momento
    </p>
  </div>
}
</section>
