<section class="py-3 py-md-5 py-xl-2 mb-8 height-auto">
  <div class="container">

    <div class="row gy-5 gy-lg-0">
      <div class="col-12">
        <h1>Painel do paciente</h1>
      </div>
    </div>

    <div class="row g-3 mt-3">
      <div class="col-lg-2 col-md-4 col-6">
          <div class="card text-center p-3 box" (click)="onRedirect_MinhasConsultas()">
            <div class="icon-circle icon-default">
              <i class="bi bi-calendar-plus fs-2"></i>
            </div>
            <p class="mb-0 h6">Minhas consultas</p>
          </div>
      </div>
      <div class="col-lg-2 col-md-4 col-6">
          <div class="card text-center p-3 box" (click)="onRedirect_PergunteAoProfissional()">
            <div class="icon-circle icon-default">
              <i class="bi bi-chat-text fs-2"></i>
            </div>
            <p class="mb-0 h6">Pergunte ao Profissional de Saúde</p>
          </div>
      </div>
      <div class="col-lg-2 col-md-4 col-6">
          <div class="card text-center p-3 box" (click)="onRedirect_MeuProfissionaisFavoritos()">
            <div class="icon-circle icon-favorite">
              <i class="bi bi-heart fs-2"></i>
            </div>
            <p class="mb-0 h6">Favoritos</p>
          </div>
      </div>
      <div class="col-lg-2 col-md-4 col-6">
          <div class="card text-center p-3 box" (click)="onRedirect_AgendarConsulta()">
            <div class="icon-circle icon-default">
              <i class="bi bi-search fs-2"></i>
            </div>
              <p class="mb-0 h6">Agendar</p>
          </div>
      </div>
      <div class="col-lg-2 col-md-4 col-6">
          <div class="card text-center p-3 box" (click)="onRedirect_PacientesDependentes()">
            <div class="icon-circle icon-default">
              <i class="bi bi-people fs-2"></i>
            </div>
              <p class="mb-0 h6">Dependentes</p>
          </div>
      </div>
      <div class="col-lg-2 col-md-4 col-6">
          <div class="card text-center p-3 box" (click)="onRedirect_EditarConta()">
            <div class="icon-circle icon-default">
              <i class="bi bi-person fs-2"></i>
            </div>
            <p class="mb-0 h6">Editar conta</p>
          </div>
      </div>
  </div>










  </div>
</section>
