.box {
  height: 140px;
  border-radius: 3%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.icon-circle {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  margin: 0 auto 8px;
}

.icon-default {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: #e5f5fc;
  background-color: rgba(229, 245, 252, var(--tw-bg-opacity));
  color: #039be5;
  color: rgba(3, 155, 229, var(--tw-text-opacity))
}

.icon-favorite {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: #fbdae3;
  background-color: rgba(251, 218, 227, var(--tw-bg-opacity));
  color: #ec4673;
  color: rgba(236, 70, 115, var(--tw-text-opacity))
}

.icon-favorite:hover {
  --tw-bg-opacity: 1;
  background-color: #f9c7d5;
  background-color: rgba(249, 199, 213, var(--tw-bg-opacity))
}
.icon-default:hover  {
  --tw-bg-opacity: 1;
  background-color: #b3e1f7;
  background-color: rgba(179, 225, 247, var(--tw-bg-opacity))
}
