<section id="hero" class="hero section light-background">

  <img src="../../../assets/img/hero-bg.jpg" alt="" data-aos="fade-in">

  <div class="container position-relative">

    <div class="welcome position-relative" data-aos="fade-down" data-aos-delay="100">
      <h2>BEM VINDO AO CONSULTANET</h2>
      <p>
        Agende suas consultas médicas online com facilidade e rapidez.
        <br />
        Simplifique sua rotina com o ConsultaNET.
      </p>
    </div>

    <div class="content row gy-4">
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="why-box" data-aos="zoom-out" data-aos-delay="200">
          <h3>Por que escolher o ConsultaNET?</h3>
          <p>
            No ConsultaNET, acreditamos que agendar consultas médicas deve ser simples, rápido e acessível para todos.
            Nossa plataforma conecta pacientes a profissionais de saúde de forma eficiente, eliminando burocracias e
            longas esperas.
          </p>
          <div class="text-center">
            <a href="#about" class="more-btn"><span>Saiba mais</span> <i class="bi bi-chevron-right"></i></a>
          </div>
        </div>
      </div><!-- End Why Box -->

      <div class="col-lg-8 d-flex align-items-stretch">
        <div class="d-flex flex-column justify-content-center">
          <div class="row gy-4">

            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box" data-aos="zoom-out" data-aos-delay="300">
                <i class="bi bi-clipboard-data"></i>
                <h4>Facilidade e Conveniência</h4>
                <p>Agende sua consulta online em poucos cliques, sem precisar ligar ou enfrentar filas.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box" data-aos="zoom-out" data-aos-delay="400">
                <i class="bi bi-gem"></i>
                <h4>Variedade de Especialidades</h4>
                <p>Encontre médicos e especialistas de diversas áreas da saúde em um só lugar.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box" data-aos="zoom-out" data-aos-delay="500">
                <i class="bi bi-inboxes"></i>
                <h4>Transparência e Segurança</h4>
                <p>Informações claras sobre médicos, horários disponíveis e valores, garantindo total confiança na sua escolha.</p>
              </div>
            </div><!-- End Icon Box -->

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- About Section -->
<section id="about" class="about section">

  <div class="container">

    <div class="row gy-4 gx-5">

      <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="200">
        <img src="assets/img/about.jpg" class="img-fluid" alt="">
        <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
      </div>

      <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
        <h3>Sobre nós</h3>
        <p>
          Na ConsultaNET, estamos comprometidos em revolucionar a forma como os pacientes agendam suas consultas médicas.
          Nossa plataforma intuitiva e segura permite que você encontre e marque consultas com facilidade, economizando
          tempo e garantindo tranquilidade. Trabalhamos para conectar pacientes a profissionais de saúde de confiança,
          tornando o acesso à saúde mais eficiente e acessível para todos. Junte-se a nós e experimente a simplicidade de
          agendar sua próxima consulta médica online.
        </p>
        <ul>
          <li>
            <i class="fa-solid fa-vial-circle-check"></i>
            <div>
              <h5>Agendamento fácil e rápido</h5>
              <p>Simplifique suas consultas com nosso sistema que garante praticidade e rapidez na marcação.</p>
            </div>
          </li>
          <li>
            <i class="fa-solid fa-pump-medical"></i>
            <div>
              <h5>Gestão de agenda médica</h5>
              <p>Controle total sobre o calendário de atendimentos, otimizando a rotina dos profissionais de saúde.</p>
            </div>
          </li>
          <li>
            <i class="fa-solid fa-heart-circle-xmark"></i>
            <div>
              <h5>Notificações e lembretes automatizados</h5>
              <p>Receba lembretes automáticos sobre consultas marcadas, evitando faltas e desencontros.</p>
            </div>
          </li>
        </ul>
      </div>

    </div>

  </div>

</section>
<!-- /About Section -->


<!-- Services Section -->
<section id="services" class="services section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Nossos Serviços</h2>
    <p>
      O ConsultaNET oferece uma plataforma completa para conectar pacientes e profissionais de saúde
      de maneira rápida e segura. Veja o que você encontra aqui:
    </p>
  </div>

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item  position-relative">
          <div class="icon">
            <i class="fas fa-heartbeat"></i>
          </div>
          <a href="#" class="stretched-link">
            <h3>Agendamento Online</h3>
          </a>
          <p>
            Agende consultas com médicos, dentistas, psicólogos e outros especialistas de forma simples e sem
            burocracia. Escolha a especialidade, o profissional e o horário disponível que melhor se encaixa
            na sua rotina.
          </p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fas fa-pills"></i>
          </div>
          <a href="#" class="stretched-link">
            <h3>Gerenciamento de Consultas</h3>
          </a>
          <p>
            Acompanhe suas consultas futuras e passadas, reagende quando necessário e receba lembretes automáticos para
            não perder nenhum compromisso.
          </p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fas fa-hospital-user"></i>
          </div>
          <a href="#" class="stretched-link">
            <h3>Profissionais Verificados</h3>
          </a>
          <p>
            Todos os médicos e especialistas cadastrados passam por um processo de verificação, garantindo credibilidade e
            segurança para você.
          </p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fas fa-dna"></i>
          </div>
          <a href="#" class="stretched-link">
            <h3>Opções de Pagamento Flexíveis</h3>
          </a>
          <p>
            Oferecemos diversas formas de pagamento, incluindo cartões de crédito, PIX e pagamento diretamente na clínica,
            proporcionando mais comodidade para você.
          </p>
          <a href="#" class="stretched-link"></a>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fas fa-wheelchair"></i>
          </div>
          <a href="#" class="stretched-link">
            <h3>Histórico Médico Centralizado</h3>
          </a>
          <p>
            Tenha acesso ao seu histórico de consultas, exames e prescrições médicas em um só lugar, facilitando o acompanhamento
            do seu tratamento.
          </p>
          <a href="#" class="stretched-link"></a>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fas fa-notes-medical"></i>
          </div>
          <a href="#" class="stretched-link">
            <h3>Atendimento Presencial e Telemedicina</h3>
          </a>
          <p>Escolha entre consultas presenciais ou teleconsultas com profissionais qualificados, trazendo mais flexibilidade para o
            seu atendimento médico.</p>
          <a href="#" class="stretched-link"></a>
        </div>
      </div><!-- End Service Item -->

    </div>

  </div>

</section>
<!-- /Services Section -->
