<section id="hero" class="hero section light-background">

  <img src="../../../assets/img/hero-bg.jpg" alt="" data-aos="fade-in">

  <div class="container position-relative">

    <div class="welcome position-relative" data-aos="fade-down" data-aos-delay="100">
      <h2>SOBRE NÓS</h2>
      <p>
        A saúde deve estar ao alcance de todos, e o ConsultaNET nasceu com essa missão.
        <br />
        Somos uma plataforma inovadora que simplifica o agendamento de consultas médicas,
        conectando pacientes a profissionais de saúde com rapidez, transparência e segurança.
      </p>
    </div>

  </div>
</section>

<section id="services" class="services section">
  <div class="container section-title" data-aos="fade-up">
    <h2>Nossa História</h2>
    <p>
      Sabemos como pode ser frustrante enfrentar longas filas, esperar semanas por um atendimento ou lidar com burocracias na marcação de consultas.
      Foi pensando nisso que criamos o ConsultaNET: uma solução moderna que coloca o paciente no centro do cuidado, oferecendo uma experiência
      digital simples e eficiente.
    </p>
  </div>
</section>

<section id="services" class="services section">
  <div class="container section-title" data-aos="fade-up">
    <h2>Nossa Missão</h2>
    <p>
      Tornar o acesso à saúde mais ágil e descomplicado. Com poucos cliques, você encontra o profissional que precisa, escolhe o melhor horário e
      realiza seu agendamento de forma intuitiva. Nossa tecnologia foi desenvolvida para conectar pessoas e profissionais de saúde de maneira
      confiável e acessível.
    </p>
  </div>
</section>

<section id="services" class="services section">
  <div class="container section-title" data-aos="fade-up">
    <h2>Nosso Compromisso</h2>
    <p>
      Seja para uma consulta presencial ou uma teleconsulta, nosso compromisso é oferecer uma experiência confiável e eficiente.
      Estamos sempre evoluindo para garantir que você tenha acesso à saúde de forma prática, ágil e segura.
    </p>
  </div>
</section>

<section id="services" class="services section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Por que Acreditamos no Que Fazemos?</h2>
  </div>

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item  position-relative">
          <div class="icon">
            <i class="fas fa-heartbeat"></i>
          </div>
          <a href="#" class="stretched-link">
            <h3>Facilidade e Acessibilidade </h3>
          </a>
          <p>
            Menos burocracia, mais saúde. Chega de complicação para marcar uma consulta.
          </p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fas fa-pills"></i>
          </div>
          <a href="#" class="stretched-link">
            <h3>Segurança e Transparência</h3>
          </a>
          <p>
            Profissionais verificados, informações claras e proteção dos seus dados.
          </p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fas fa-hospital-user"></i>
          </div>
          <a href="#" class="stretched-link">
            <h3>Inovação e Humanização</h3>
          </a>
          <p>
            Tecnologia a serviço do bem-estar, com um atendimento que valoriza cada paciente.
          </p>
        </div>
      </div><!-- End Service Item -->
    </div>
  </div>

</section>
