<!-- Quero fazer uma pergunta -->
<section class="bsb-hero-2-pro px-3" style="height: auto !important;">
  <div class="container overflow-hidden">
    <div class="row gy-3 gy-lg-0 align-items-lg-center justify-content-lg-between">
      <div class="col-12 col-lg-6 order-1 order-lg-0">
        <h1 class="display-3 fw-bold mb-1">Pergunte ao profissional de saúde</h1>
        <p class="fs-4 mb-5">Tire dúvidas com nossos médicos e demais profissionais de saúde.</p>
        <div class="d-grid gap-2 d-sm-flex">
          <button type="button" class="btn btn-primary bsb-btn-2xl rounded-pill" *ngIf="!showFormSection" (click)="onShowModalFazerPergunta()">Quero fazer uma pergunta</button>
        </div>
      </div>
      <div class="col-12 col-lg-5 text-center">
        <img class="img-fluid " loading="lazy" src="../../../assets/img/faq-img-1.png" data-aos="fade-in" alt="Perguntas e Respostas" >
      </div>
    </div>
  </div>
</section>

<!-- Como que funciona? -->
<section id="services" class="services section">
  <div class="container section-title" data-aos="fade-up">
    <h2>Como que funciona?</h2>
  </div>

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item  position-relative">
          <div class="icon">
            <i class="fas fa-solid fa-1"></i>
          </div>
          <a href="javascript:void(0);" class="stretched-link">
            <h3>Pergunte</h3>
          </a>
          <p>
            Escreva sua pergunta sobre saúde de forma breve e direta. Lembre-se de ser claro e objetivo!
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fas  fa-solid fa-2"></i>
          </div>
          <a href="javascript:void(0);" class="stretched-link">
            <h3>Envie e aguarde</h3>
          </a>
          <p>
            Sua pergunta será redirecionada e distribuem entre os especialistas disponíveis.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="fas  fa-solid fa-3"></i>
          </div>
          <a href="javascript:void(0);" class="stretched-link">
            <h3>Leia</h3>
          </a>
          <p>
            Quando sua resposta for postada, você será notificado por e-mail. Você pode ser respondido por mais
            de um especialista.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Principais perguntas sobre saúde -->
<section id="doctors" class="doctors section">
  <div class="container section-title" data-aos="fade-up">
    <h2>Principais perguntas sobre saúde</h2>
  </div>



@if (perguntasList !== undefined && perguntasList !== null && perguntasList.length > 0) {
  <div class="row">
    <div class="col-12">
        @for (pergunta of perguntasPaginadas; track pergunta.id; let idx = $index) {
          <section class="section-perguntas">
            <div class="container overflow-hidden">
              <div class="row gy-3 gy-lg-4">
                <div class="col-12 col-lg-12">
                  <div class="card">
                    <div class="card-body pergunta-divider">
                      <div class="row">
                        <div class="col-12 col-md-10 col-lg-12">
                          <p class="bd-lead pergunta-text bold mb-1" (click)="onclick_redirect_pergunta(pergunta.id)">{{pergunta.pergunta }}</p>
                          <p class="card-text mb-1"><small class="text-muted">{{pergunta.createdAtFormatted}}</small></p>
                          <p class="card-text mb-1 lead"><small class="text-muted">{{pergunta.especialidade?.nome}}</small></p>
                        </div>
                      </div>
                    </div>

                    @if (pergunta.respostas !== undefined && pergunta.respostas !== null && pergunta.respostas.length > 0) {
                      <div class="card-body p-4">
                        <blockquote class="bsb-blockquote-icon mb-3">{{pergunta.respostas[0].resposta}}</blockquote>
                        <p class="card-text"><small class="text-muted">{{pergunta.respostas[0].createdAtFormatted}}</small></p>
                        <figure class="d-flex align-items-center m-0 p-0">
                          <img class="img-fluid rounded rounded-circle m-0 border border-5" loading="lazy" src="assets/img/doctors/doctors-2.jpg" alt="{{pergunta.respostas[0].especialista.nome}}" width="80" height="80" >
                          <figcaption class="ms-3">
                            <h4 class="mb-1 h5">{{pergunta.respostas[0].especialista.nome}}</h4>
                            <h5 class="fs-6 text-secondary mb-0">{{pergunta.respostas[0].especialista.especialidades[0].nome}}</h5>
                            @if (pergunta.respostas[0].especialista.avaliacao !== undefined && pergunta.respostas[0].especialista.avaliacao !== null) {
                              <div class="bsb-ratings text-warning mb-3" data-bsb-star="pergunta.respostas[0].especialista.avaliacao" data-bsb-star-off="0"></div>
                            }
                            <p class="mt-4">
                              <button class="cta-btn-primary">Marcar consulta agora</button>
                            </p>
                          </figcaption>
                        </figure>
                      </div>
                      <div class="card-body">
                        <span><a href="javascript:void(0);" class="card-link link-primary text-decoration-none" (click)="onclick_redirect_pergunta(pergunta.id)">Ver todas as respostas</a></span>
                      </div>
                    } @else {
                      <div class="card-body">
                        <span class="text-xs text-gray-500">
                          Sem respostas até o momento
                        </span>
                      </div>
                    }
                  </div>
                </div>
              </div>
            </div>
          </section>
        }
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="container">
        <app-pagination
          [totalItems]="totalItems"
          [itemsPerPage]="itemsPerPage"
          (pageChanged)="atualizarPagina($event.page, $event.pageSize)">
        </app-pagination>
      </div>
    </div>
  </div>
} @else {
  <div class="card-body">
    <div class="mt-1 mb-4">
      <p class="text-xs text-gray-500">Sem perguntas até o momento</p>
    </div>
  </div>
}
</section>


<!-- modal fazer pergunta -->
<div class="modal fade" id="modalFazerPergunta" tabindex="-1" aria-labelledby="modalFazerPerguntaLabel" data-bs-backdrop="static" aria-modal="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalFazerPerguntaLabel">Fazer pergunta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <app-form-fazer-pergunta
                [showEspecialidades]="true"
                [especialidadeId]=""
                (requestData)="getPerguntaRequestDataEmitted($event)">
              </app-form-fazer-pergunta>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
