.perguntas-respostas {
  width: 100%;
  /* min-height: calc(100vh - 250px); */
  min-height: calc(80vh - 250px);
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.perguntas-respostas img {
  position: absolute;
  inset: 0;
  display: block;
  height: 60%;
  object-fit: cover;
  z-index: 1;
  margin-left: 50%;
  margin-top: 3%;
}

.perguntas-respostas .container {
  z-index: 3;
}

.perguntas-respostas .welcome h2 {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
}

.perguntas-respostas .welcome p {
  font-size: 18px;
  margin: 0;
}

.perguntas-respostas-list-box {
  padding-bottom: 70px;
}

.respostas-box {
  background-color: #f2f4f6;
}

.respostas-todas {
  padding-top: 40px;
}

.respostas-reactions {
  margin-top: 30px;
}

.pergunta-text:hover {
  cursor: pointer;
  text-decoration: underline;
}

.img-mask {
  -webkit-mask-image: url(../../../../assets/img/hero-img-blob-1.svg);
  mask-image: url(../../../../assets/img/hero-img-blob-1.svg);
}
