<section class="py-3 py-md-5 py-xl-2" style="height: auto !important;">
  <div class="container">
    <div class="row gy-5 gy-lg-0">
      <div class="col-12 col-lg-8">
        <div class="row">
          <div class="col-12 col-xl-11">
            <p class="lead bold fs-4 text-secondary">{{especialidade}}, {{cidade}}</p>
            <p class="mb-2"><small class="text-muted">Agende online, sem custos adicionais</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-3 py-md-5 py-xl-2">
  <div class="container">
    <div class="row gy-5 gy-lg-0 mb-3" *ngFor="let especialista of especialistas; let i = index;">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <!-- painel de dados do especialista -->
              <div class="col-md-6">
                <div class="container my-4">
                  <div class="d-flex align-items-start">
                    <!-- Foto do Usuário -->
                    <div class="me-3">
                      <img src="{{especialista.foto}}" alt="Foto do Usuário {{especialista.nome}}" class="rounded-circle" width="112" height="112" />
                    </div>

                    <!-- Informações ao lado da foto -->
                    <div>
                        <h6 class="mb-1">
                          {{especialista.nome}}
                          <i class="bi bi-patch-check-fill text-primary" title="Verificado" *ngIf="especialista.tipo == 'Premium'"></i>
                        </h6>
                        <div>
                            <span class="me-2">{{obterEspecialidadesParametroString(especialista.especialidades)}}</span>
                            <span class="me-2" *ngIf="showDemaisEspecialidades[especialista.id]">{{obterDemaisEspecialidadesString(especialista.especialidades)}}</span>
                            <a href="javascript:void(0)" class="text-decoration-none" (click)="mostrarMaisEspecialidades(especialista.id)" *ngIf="!showDemaisEspecialidades[especialista.id]">Mais</a>
                            <a href="javascript:void(0)" class="text-decoration-none" (click)="mostrarMaisEspecialidades(especialista.id)" *ngIf="showDemaisEspecialidades[especialista.id]">Menos</a>
                        </div>

                        <!-- Rating com Estrelinhas e total de avaliações -->
                         @if (especialista.avaliacao !== undefined && especialista.avaliacao !== null) {
                          <div class="d-flex align-items-center mt-2">
                            <span class="me-2">
                               <app-rating-stars [ratingStar]="especialista.avaliacao" [ratingStarOff]="0"></app-rating-stars>
                            </span>
                            <a href="javascript:void(0)" class="text-decoration-none" >{{especialista.avaliacoes.length}} avaliações</a>
                          </div>
                         }

                        <!-- Licença -->
                        <p class="mt-3">{{especialista.licenca}}</p>
                    </div>
                  </div>

                </div>
                <!-- convenios atendidos -->
                <div class="container my-4">
                  <div class="row">
                    <div class="col-12">
                      <div class="d-grid gap-2">
                        <button class="btn btn-outline-secondary btn-sm mb-3" (click)="abrirModalConveniosAtendidos(especialista.conveniosMedicosAtendidos)">
                          <i class="bi bi-shield-shaded"></i> Convênios atendidos
                        </button>
                      </div>
                    </div>
                  </div>
                  <!-- modal de convenios atendidos -->
                   <div class="modal fade" id="modalConvenios" tabindex="-1" aria-labelledby="modalConveniosLabel" data-bs-backdrop="static" aria-modal="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="modalConveniosLabel">Convênios atendidos</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <p *ngIf="conveniosAtendidos.length > 0"><small>Total de {{conveniosAtendidos.length}} convênios</small></p>
                          <ul *ngIf="conveniosAtendidos.length > 0; else semConvenios" class="list-group list-group-flush">
                            <li class="list-group-item" *ngFor="let convenio of conveniosAtendidos">
                              {{ convenio }}
                            </li>
                          </ul>
                          <ng-template #semConvenios>
                            <p class="text-muted">Nenhum convênio atendido.</p>
                          </ng-template>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="cta-btn-primary" data-bs-dismiss="modal">Fechar</button>
                        </div>
                      </div>
                    </div>
                   </div>
                </div>

                <div class="container my-4">
                  <ul class="nav nav-tabs" [attr.id]="'myTab-' + i" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" type="button" role="tab" data-bs-toggle="tab" aria-selected="true"
                        [attr.id]="'endereco-tab-' + i"
                        [attr.data-bs-target]="'#endereco-' + i"
                        [attr.aria-controls]="'endereco-' + i">Endereço</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" type="button" role="tab" data-bs-toggle="tab" aria-selected="true"
                        [attr.id]="'teleconsulta-tab-' + i"
                        [attr.data-bs-target]="'#teleconsulta-' + i"
                        [attr.aria-controls]="'teleconsulta-' + i">Teleconsulta</button>
                    </li>
                  </ul>
                  <div class="tab-content mt-3" [attr.id]="'myTabContent-' + i">
                    <div class="tab-pane fade show active" role="tabpanel" [attr.id]="'endereco-' + i" [attr.aria-labelledby]="'endereco-tab-' + i">
                      <div *ngFor="let localAtend of especialista.locaisAtendimento; let j = index;" class="mt-3">
                        <div class="d-flex flex-column">
                          <div class="d-flex align-items-center">
                            <i class="bi bi-geo-alt-fill me-2"></i>
                            <small>{{ localAtend.logradouro }} - {{ localAtend.complemento }} - {{ localAtend.bairro }} - {{ localAtend.cidade }}, {{ localAtend.estado }}</small>
                          </div>
                          <div class="ps-4 mb-3">
                            <small>{{ localAtend.nome }}</small>
                          </div>

                          <div class="d-flex align-items-center justify-content-between mt-3">
                            <div class="d-flex align-items-center">
                              <i class="bi bi-building-add me-2"></i>
                              <span>Consulta</span>
                            </div>
                            <!-- <span>{{ localAtend.precoDescricao ?? 'Preço não disponível' }}</span> -->
                            <span *ngIf="!(localAtend.precoDescricao | isNullOrUndefined)">{{ localAtend.precoDescricao}}</span>
                            <span *ngIf="(localAtend.precoDescricao | isNullOrUndefined)">Preço não disponível</span>
                          </div>
                        </div>
                        <hr />
                      </div>

                    </div>
                    <div class="tab-pane fade" role="tabpanel" [attr.id]="'teleconsulta-' + i" [attr.aria-labelledby]="'teleconsulta-tab-' + i">

                      <div class="d-flex align-items-center justify-content-between mt-3">
                        <div class="d-flex align-items-center">
                          <i class="bi bi-building-add me-2"></i>
                          <span>Teleconsulta</span>
                        </div>
                        <span *ngIf="!(especialista.telemedicinaPreco | isNullOrUndefined)">R$ {{ especialista.telemedicinaPreco }}</span>
                        <span *ngIf="(especialista.telemedicinaPreco | isNullOrUndefined)">Preço não disponível</span>
                      </div>
                      <hr />
                    </div>
                  </div>
                </div>


              </div>

              <!-- painel de horarios e datas -->
              <div class="col-md-6">
                <div>
                  <app-listar-horarios-disponiveis [listaHorariosJaAgendados]="horarios"></app-listar-horarios-disponiveis>
                </div>
                <p class="text-muted">Horários disponíveis</p>
                <button class="cta-btn-primary mb-3 me-2"><i class="bi bi-calendar-plus-fill"></i> Próximo horário: Quinta-feira, 13 de Março</button>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row gy-5 gy-lg-0 mb-3">
      <div class="text-center my-3">
        <button class="cta-btn-primary" (click)="carregarMaisEspecialistas()" [disabled]="carregando || !temMaisItens" *ngIf="temMaisItens">
          {{ carregando ? 'Carregando...' : 'Carregar mais' }}
        </button>
      </div>
    </div>

  </div>
</section>
