<section class="py-3 py-md-5 py-xl-2 height-auto" *ngIf="isLoadedDataInit()">
  <div class="container">
    <div class="row gy-5 gy-lg-0">
      <div class="col-12">
        <h1>Encontre um Médico</h1>
        <p class="mb-2"><small class="text-muted">Busque médicos com data de agendamento mais próxima</small></p>
      </div>

      <!-- Campo de busca -->
      <div class="col-7 mt-3">
        <div class="form-floating mb-3 position-relative">
          <input type="text" class="form-control" id="buscaEspecialistas" placeholder="Procure por um médico"
            [(ngModel)]="termoBusca"
            (keyup.enter)="buscarEspecialistas()">
          <label for="buscaEspecialistas">Procure por nome do médico</label>
          <button class="cta-btn-primary btn-sm position-absolute end-0 top-50 translate-middle-y me-2" (click)="buscarEspecialistas()">
            Buscar
          </button>
        </div>
      </div>
      <div class="col-5 mt-3">
        <div class="form-floating mb-3 position-relative">
          <input type="text" class="form-control" id="buscaEspecialistas" placeholder="Procure por um médico" />
          <label for="buscaEspecialistas">Procure por nome do médico</label>
        </div>
      </div>

      <!-- Lista de especialistas -->
      <div class="col-12">
        <div class="row">
          <div class="col-lg-12 aos-init aos-animate doctors mb-3" data-aos="fade-up" data-aos-delay="100" *ngFor="let especialista of especialistas; let i = index;">
            <div class="team-member d-flex align-items-start">
              <div class="picture">
                <img [src]="especialista.foto" class="img-fluid" [alt]="especialista.nome" width="120" height="120">
              </div>
              <div class="member-info">
                <h4>{{especialista.nome}}</h4>
                <span>
                  {{especialista.especialidades[0].nome}}
                  <i class="bi bi-patch-check-fill text-primary" title="Verificado" *ngIf="especialista.tipo == 'Premium'"></i>
                </span>
                <p>{{especialista.licenca}}</p>
                <!-- Rating com Estrelinhas e total de avaliações especialista.locaisAtendimento -->
                @if (especialista.avaliacao !== undefined && especialista.avaliacao !== null) {
                  <div class="social">
                    <div class="d-flex align-items-center mt-2">
                      <span class="me-2">
                         <app-rating-stars [ratingStar]="especialista.avaliacao" [ratingStarOff]="0"></app-rating-stars>
                      </span>
                      <a href="javascript:void(0)" class="text-decoration-none" >{{especialista.avaliacoes.length}} avaliações</a>
                    </div>
                  </div>
                 }

                 <div *ngIf="!isNullOrUndefined(especialista.locaisAtendimento)">
                    <div *ngIf="especialista.locaisAtendimento.length > 0">
                      <div class="d-flex align-items-center justify-content-between" *ngIf="!isNullOrEmpty(especialista.locaisAtendimento[0].logradouro)" style="gap: 2rem">
                        <div>
                          <i class="bi bi-geo-alt text-primary fs-19"></i>
                        </div>
                        <div>
                          <p class="fs-10 text-uppercase title mb-0">Endereço da unidade</p>
                          <p class="fs-11 title mt-0" *ngIf="!isNullOrEmpty(especialista.locaisAtendimento[0].nome)">{{especialista.locaisAtendimento[0].nome}}</p>
                          <p class="fs-10 text-muted mt-0">
                            {{especialista.locaisAtendimento[0] | addressFormatted}}
                          </p>
                        </div>
                      </div>
                      <hr />
                    </div>
                    <div *ngIf="especialista.locaisAtendimento.length > 1 && showDemaisLocaisAtendimento[especialista.id]">
                      <div *ngFor="let local of skip(especialista.locaisAtendimento, 1); let i = index;" >
                        <div class="d-flex align-items-center" *ngIf="!isNullOrEmpty(local.logradouro)" style="gap: 2rem">
                          <div>
                            <i class="bi bi-geo-alt text-primary fs-19"></i>
                          </div>
                          <div>
                            <p class="fs-10 text-uppercase title mb-0">Endereço da unidade</p>
                            <p class="fs-11 title mt-0" *ngIf="!isNullOrEmpty(local.nome)">{{local.nome}}</p>
                            <p class="fs-10 text-muted mt-0">
                              {{local | addressFormatted}}
                            </p>
                          </div>
                        </div>
                        <hr />
                      </div>
                    </div>
                    <div class="text-center fs-9" *ngIf="especialista.locaisAtendimento.length > 1">
                      <a href="javascript:void(0)" class="text-decoration-none" (click)="mostrarMaisLocaisAtendimento(especialista.id)" *ngIf="!showDemaisLocaisAtendimento[especialista.id]">Mostrar mais unidades</a>
                      <a href="javascript:void(0)" class="text-decoration-none" (click)="mostrarMaisLocaisAtendimento(especialista.id)" *ngIf="showDemaisLocaisAtendimento[especialista.id]">Mostrar menos unidades</a>
                    </div>
                 </div>

                 <div class="social">
                  <div class="text-center my-3">
                    <button class="cta-btn-primary">
                      Marque sua consulta
                    </button>
                  </div>
                 </div>

                <!-- <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""> <i class="bi bi-linkedin"></i> </a>
                </div> -->
              </div>
            </div>
          </div>
        </div>


        <!-- Nenhum resultado encontrado -->
        <!-- <ng-template #noResults>
          <p class="text-muted">Nenhum especialista encontrado.</p>
        </ng-template> -->
      </div>

      <!-- Se não encontrou nada -->
      <div class="col-12">
        <div *ngIf="especialistas.length === 0" class="text-center mt-4">
          <img src="../../../assets/img/doctor.png" alt="Lupa" width="100">
          <p class="mt-3 text-muted">Desculpa, não encontramos nenhum resultado para sua busca :(</p>
        </div>
      </div>


      <!-- Paginação -->
      <div class="col-12" *ngIf="especialistas.length > 0">
        <div class="text-end">
          <!-- <app-pagination
            [totalItems]="totalItems"
            [itemsPerPage]="itemsPerPage"
            (pageChanged)="atualizarPagina($event.page, $event.pageSize)">
          </app-pagination> -->
          <app-pagination
            [totalItems]="totalItems"
            [itemsPerPage]="itemsPerPage"
            (pageChanged)="onPageChanged($event)">
          </app-pagination>
        </div>
      </div>





    </div>
  </div>
</section>
